h1{
  color : white;
}

h3{
  color: white;
}

a{
  width: 160px;
  height: 20px;
  text-decoration: none;
  color: white;
  background-color: #31333D;
  border : 2px solid grey;
  display: block;
}

/* CSS bandeau haut de page */
#conteneur1 {
  display: flex;
  background-color: #31333D;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
}

/* CSS bandeau haut de page */
#conteneur2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #32CD32;
  color : #31333D;
}

#conteneur2>a{
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #31333D;
  border : 2px solid grey;
  display: block;
  font-size: 120%;
  text-align: center;
  font-family: sans-serif;
}

#conteneur2>a:hover{
  text-decoration: none;
  color: #31333D;
  background-color: white;
}

#hautPage{
  position: fixed;
  bottom : 10px;
  right: -100px;
  opacity: 0.5;
}
