img{
    max-width: 200px;
    height: auto;

}
article{
    text-align: center;
}

footer{
    display: flex;
    flex: wrap;
}

footer>nav{
  background-color: #FF8C00;
}

footer>nav>div{
  width: 160px;
  height: 20px;
  text-decoration: none;
  color: white;
  background-color: #31333D;
  border : 2px solid grey;
}

footer>nav>div:hover{
  text-decoration: none;
  color: #31333D;
  background-color: white;
}

/*footer>nav>div>a:hover{
  text-decoration: none;
  color: #31333D;
  background-color: white;
}*/

/*a{
    text-decoration: none;
    color: white;
    background-color: #31333D;
    margin: 5px;
}*/

/*a:hover{
    text-decoration: none;
    color: #31333D;
    background-color: white;
}*/


h1{
  color : white;
}

#recherche {
  color : white;
}

#conteneur1 {
  display: flex;
  background-color: #31333D;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
}

#conteneur2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #32CD32;
  color : #31333D;

}



section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section>article{
  margin : 15px;
  width: 300px;
  height: 300px;
  border: solid 4px #31333D;
  border-radius: 5px;
  border-style: ridge;
}

#hautPage{
  position: fixed;
  bottom : 10px;
  right: -100px;
  opacity: 0.5;
}
